@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(223, 218, 218);
    width: 434px;
    
    height: 100vh;
}

.sidebar nav{
    padding: 45 px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}


.main{
    /*background-color: yellow;*/
    width: 90vw;
    display: flex;
    
    align-items: center;
}

.container{
    display: flex;
    background-color: #DABFFF;
    
}

.infocontainer{
    /*background-color: rgb(202, 9, 128);*/
    height: 58vh;
    margin-left: 100px;
    
    
    
    
    
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.Hello{
    font-size: 65px;
    
    
}

.name{
    font-size: 50px;
    font-weight: bold;
}

.about{
    font-size: 40px;
}

.aboutmore{
    font-size: 22px;
    margin-top: 23px;
}
.buttons{
    margin-top: 34px;
}


.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(212, 40, 40);
    font-weight: bold;
    font-size: 21px;
    margin: 0px 3px;
    cursor: pointer;

}

.buttons button:hover{
    background-color: white;
    color: rgb(212, 40, 40);
}



.right img{
    
    margin-left:400px ;
}